@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&family=Caveat&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&family=Caveat&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
font-family:"Roboto",sans-serif;

}
html{
    height: 820px;
}
body{
    background: black;
}
.align-top{
align-items: center;}
    
.container-nav{
    position: relative;
    top: 40px;
    display: flex;
    justify-content: center;
    gap: 15px;
    animation: topToBottom 0.8s ease-out;

    /* padding: 10px;
    border: 2px solid transparent;
    border-radius: 45px;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-decoration: none;
    margin: 5px;
    background: transparent;
    color:aliceblue;
    transition: transform 0.3s,; */
}

/* .container-nav a:hover{
    transform: translateY(-10px);
background: rgba(255, 192, 1, 0.325);
} */
.container-nav button{
padding: 0.5rem 0.5rem;
    text-transform: uppercase;
font-size: 1.5rem;
color: aliceblue;
background: transparent;
border-radius: 45px;
border: 2px solid transparent;
transition: all 0.3s ease;
}
.container-nav button:hover{
    cursor: pointer;
    background: aliceblue;
    color: black;
    transform: translateY(+10px);
}
li{
    list-style: none;
}

    /*  O FLEX SEMPRE É USADO NO ELEMENTO PAI, PQ O ELEMENTOS FILHOS QUE FICARAM FLEXIVEIS */

a{    
    list-style: none;
}
.align-image{
    text-align: center;
}
img{
    width: 530px;
    position: relative;
    top: 100px;
    left: 22%;
}
/* O "AUTO" NO MARGIN FAZ COM QUE TUDO QUE ESTEJA NO DIV SEJA CENTRALIZADO AUTOMATICAMENTE PELA MARGEN */
.wrapper-container{
    width: 1000px;
    margin: 0 auto;
}
@keyframes bottomToLeft{
from{
transform: translateY(+300px);
}
to{
    transform: translateY(0);
}
}
@keyframes topToBottom{
from{
transform: translateY(-100px);
}
to{
    transform: translateY(0);
}
}
@keyframes leftToRight{
from{
transform: translateX(-300px);
}
to{
    transform: translateX(0);
}
}
span{
    animation: bottomToLeft 1.8s ease-out;
    color: aliceblue;
    background: rgba(9, 255, 0, 0);
    display: block;
    width: 350px;
    font-size: 150px;
    z-index: 1;
    float: right;
    position: relative;
    bottom: 500px;
    right: 22%;
font-weight: 500;
}

/* dimenção pra tablet */
@media(max-width:680px){
    .container-nav button{
        position: relative;
        left: 35px;
    }
    a{
        width:100%; 
     }
img{
    left: 0%;
    position: relative;
    width: 100%;
object-fit: cover;
}
span{
    position: relative;
    left: 50%;
    width: 50%;
}
}
/* dimeção pra celular */
@media(max-width:426px){
    a{
       font-size: 3rem;
    }
img{
    left: 0%;
    position: relative;
    width: 100%;
object-fit: cover;
}
span{
    animation: leftToRight 1s ease-out 0s;
    position: relative;
left: -40%;
width: 50%;
}
}
